/* Feuille de style pour l'entête */

.entete__header{
    background-image: url("images/ciel.jpg");
    background-repeat: no-repeat;   
    background-size: 20%;
    background-position: 95% 50%;
}

/*Media query pour la version mobile responsive*/
@media screen and (max-width:550px) {
    .entete__header{
        background-image: url("images/ciel.jpg");
        background-repeat: no-repeat;   
        background-size: 50%;
        background-position: 50% 50%;
        align-items: center;
    }

    .global{
        padding: 2em;
        text-align: center;
    }
}