* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Protest Riot', sans-serif;
}

/* Prend tout le contenu de la page */
.global{
    display: flex;
    justify-content: center;
    min-height: 40vh; /*chaque division prend 40%*/
}

/*
https://developer.wordpress.org/themes/basics/main-stylesheet-style-css/
*/

/*Largeurs des sections*/
.global > section,
.global > header, 
.global > footer{
    /*0 = Ne peut pas grandir en haut de 900px*/
    /*1 = Peut rapetisser en bas de 900px*/
    flex: 0 1 900px;
    border: 3px dotted darkslateblue;
    padding: 3rem 1rem;
    background-color: rgba(255, 255, 255, var(--transparence-section));
}

#entete, #footer{
    min-height: 20vh;
}

#entete{
    background-color: var(--couleur-arriere-entete);
}

#accueil{
    background-color: var(--couleur-arriere-accueil);
}

#evenement{
    background-color: var(--couleur-arriere-evenement);
}

#galerie{
    background-color: var(--couleur-arriere-galerie);
}

#footer{
    background-color: var(--couleur-arriere-footer);
}