/* Variables globales CSS et non sass pour être 
capable de modifier directement la couleur dans le navigateur */

:root {
    --couleur-arriere-entete: #8fd2ff;
    --couleur-arriere-accueil: #0f0;
    --couleur-arriere-evenement: #045;
    --couleur-arriere-galerie: #045;
    --couleur-arriere-footer: #630;
}