/* Feuille de styles SASS pour les éléments des cartes de destinations */

.destinations{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2rem;
}

.carte{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    flex: 1 0 calc(1000px/4); /*ne grossit pas mais se comprime*/
    border: 2px solid #fff; /*changer pour une variable de couleur*/
    padding: 2em;
    box-shadow: 0px 20px 0px -10px #FFFFFF, 0px -20px 0px -10px #FFFFFF, 20px 0px 0px -10px #FFFFFF, -20px 0px 0px -10px #FFFFFF, 0px 0px 0px 10px #0084ff, 5px 5px 15px 5px rgba(51,158,255,0);
    width: 60%;
}

.post-categories{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 1rem;
}

.carte-categorie{
    background-color: var(--couleur-carte);
}

/*Media query pour la version mobile responsive*/
@media screen and (max-width:550px) {
    .destinations{
        display: flex;
        flex-direction: column;
    }

    .carte{
        background-color: var(--couleur-carte); 
        box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 5px 5px 15px 5px rgba(0,0,0,0);
    }
}