/* Feuille de style du menu principal */

/* Styles généraux du menu */
.menu {
    z-index: 100;
    position: absolute;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    height: 5rem;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    font-size: 1.2em;
}

/* Pour les écrans larges */
@media (min-width: 550px) {
    .menu {
        position: static;
        flex-direction: row;
        transform: translateX(0);
    }
}

/* Styles des éléments du menu */
.menu-item {
    flex: 1 0 50px;
}

.menu-item a {
    color: #fff;
    text-decoration: none;
}

/* Gestion du label burger */
#burger {
    z-index: 5000;
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
}

@media (min-width: 550px) {
    #burger {
        display: none;
    }
}

#chk_burger {
    display: none;
}

#chk_burger:checked ~ .menu {
    transform: translateX(-100%);
}

/* CSS du menu burger pour media query */
@media screen and (max-width: 550px) {
    #burger {
        display: block;
        cursor: pointer;
        z-index: 1000;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    #chk_burger:checked + #burger > svg {
        transform: rotate(90deg);
    }

    #chk_burger:checked ~ .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: #fff;
        width: 100%;
        padding: 20px;
        z-index: 999;
    }

    .menu-item {
        margin-bottom: 10px;
    }

    .menu-item a {
        color: #000;
        text-decoration: none;
        font-size: 18px;
    }
}
