/*
Feuille de style du menu principal
*/

//nav
// .menu-principal-container{
//     background-color: var(--couleur-arriere-footer);
//     // margin-top: 5rem;
// }

//ul
.menu{
    z-index: 100;
    position: absolute;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    // height: 5rem;
    align-items: center;
    text-align: center;
    font-size: 1.2em;        
    //background-color: var(--couleur-arriere-footer);
    // transform: translateX(300%);

        @media (min-width: 550px){
        position : static;
        flex-direction: row;
        display : flex;
        transform: translateX(0); 
        //background-color: var(--couleur-arriere-footer);
        }
    }

.menu-item { //li
    flex: 1 0 50px;
}

.menu-item a { // li a
    color: #fff;
}

/* Gestion du label burger*/
#burger {
    z-index: 5000;
    display: block;
    position: absolute;
    top: 10px;
    right : 10px;
        @media (min-width: 550px){
            display : none;
        }
}

#chk_burger{
    display: none;
}

#chk_burger:checked ~ .menu {
    transform : translateX(-100);
}


