button{
    font-size: clamp(1.143rem, 1.024rem + 0.333vw, 1.286rem);

    padding: 12px 24px;

    // background-image: linear-gradient(120deg, var(--couleur1-bouton-evnt), var(--couleur2-bouton-evnt));

    background-image: linear-gradient(120deg, var(--couleur2-bouton-evnt), var(--couleur1-bouton-evnt));

    margin-bottom: 10vh;
}

button:hover{
    background-image: linear-gradient(120deg, pink, red);
}