/* Feuille de styles sass pour les boutons */

button{
    font-size: clamp(1.143rem, 1.024rem + 0.333vw, 1.286rem);
    /*padding: 12px 24px;*/
    background-image: linear-gradient(120deg, var(--couleur2-bouton-evnt), var(--couleur1-bouton-evnt));
    margin-bottom: 10vh;
    width: auto;
    padding: 0 2vw;
    height: 5vh;
    border-radius: 15px 50px 15px 50px;
    border: none;
    text-decoration: none;
    transition: transform 0.2s;
}

button:hover{
    background-image: linear-gradient(120deg, --couleur-arriere-entete, darkslateblue);
    transform: scale(110%);
}

.recherche__input{
    border-radius: 15px;
}

/*Media query pour la version mobile responsive*/
@media screen and (max-width:550px) {
    button{
        float: left;
        margin-left: 35%;
    }
}